@import '../../../styles/variables';

.lesson-feedback {
	width: 280px;
	padding: 16px;
	bottom: 16px;
	right: 16px;
	border: 1px solid color(silver);
	background: color(darker-white);
	transition: opacity 0.5s;
}

.thanks-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s;
}
